
</div>

    <div class="footer">
            <ul class="nav navbar-nav navbar-left">
            <li id="about"><a href="/about">ABOUT</a></li>
            <li id="contact"><a href="/contact">CONTACT</a></li>
            </ul>
    </div>

</body>
</html>
