<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <body>
    <div class="page_wrap">
      <div class="d-flex flex-column">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3 centered button_wrap">Know Me</h1>
        <p class="lead button_wrap">Go ahead and check out my content</p>
        <hr>
        <a class="btn btn-light w-50 button_wrap" href="/register" role="button">Register</a>
        <a class="btn btn-dark w-50 button_wrap" href="/login" role="button">Login</a>
      </div>
    </div>
</body>

</html>
